.mq-grid-flex-box {
  display: flex;

  &.direction-row {
    flex-direction: row;
  }

  &.direction-column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-around {
    justify-content: space-around;
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-no-wrap {
    flex-wrap: nowrap;
  }

  &.align-space-between {
    align-items: stretch;
  }

  &.align-space-around {
    align-items: stretch;
  }
}
