:root {
  --mq-border-radius-sm: 0.5rem;
  --mq-border-radius-md: 1rem;
  --mq-border-radius-lg: 1.5rem;
  --mq-border-radius-xl: 2rem;
  --mq-border-radius-circle: 50%;
  --mq-gap-xs: 0.5rem;
  --mq-gap-sm: 1rem;
  --mq-gap-md: 1.5rem;
  --mq-gap-lg: 2rem;
  --mq-gap-xl: 2.5rem;
  --mq-space-xs: 0.5rem;
  --mq-space-sm: 1rem;
  --mq-space-md: 1.5rem;
  --mq-space-lg: 2rem;
  --mq-space-xl: 2.5rem;
}