.mq-tooltip {
  z-index: 999;
  &.tooltip.show {
    opacity: 1;
  }

  .tooltip-inner {
    max-width: 90vw;
    padding: 0.5em 1em;
    text-align: left;
    background-color: var(--color-brand-indigo);
    border-radius: var(--mq-border-radius-sm);
  }

  &.bs-tooltip-bottom,
  &.bs-tooltip-auto[x-placement^='bottom'] {
    .arrow {
      &::before {
        border-bottom-color: var(--color-brand-indigo);
      }
    }
  }

  &.bs-tooltip-top,
  &.bs-tooltip-auto[x-placement^='top'] {
    .arrow {
      &::before {
        border-top-color: var(--color-brand-indigo);
      }
    }
  }

  &.bs-tooltip-right,
  &.bs-tooltip-auto[x-placement^='right'] {
    .arrow {
      &::before {
        border-right-color: var(--color-brand-indigo);
      }
    }
  }
  &.bs-tooltip-left,
  &.bs-tooltip-auto[x-placement^='left'] {
    .arrow {
      &::before {
        border-left-color: var(--color-brand-indigo);
      }
    }
  }
}
